[mysql]
user = checksums
password = oyE1nnwpvLdwnrbs7
host = 10.72.63.197
database = user_center,ttt
master = 10.72.63.197:3306
slave = 10.72.63.199:3306,10.72.63.203:3306
dsndb = percona
pt_table_checksum = /usr/bin/pt-table-checksum

[mail]
title = 主从数据一致性检测[dss]
mail_sender = zhangshan@163.com
mail_receiver = lisi@163.com,
mail_host = smtp.163.com
mail_user = zhangshan
mail_pass = 123.com
